PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecom_ts?schema=public"  ##put your supabase database url  
JWT_SECRET='your_jwt_secret'
NODE_ENV="development" 
FRONTEND_URL="http://localhost:5173" #wehre the frontend is running
SUPABASE_BUCKET="bucket name in supabase storage"
SUPABASE_SECRET_KEY="get from supabase api key"
SUPABASE_SERVICE_ROLE_KEY="get from supabase legacy keys"
SUPABASE_URL="public supabase url"